@import url('my-project.css');
:root{
    --fontBase: 'Poppins', sans-serif;
    --colorBase: #230886;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg,#7566fc ,#5db5fd, rgb(72, 164, 250));
    font-family: var(--fontBase);
    height: auto;
}



#saludo{
    padding: 0;
    margin: 0;
}
#nombre{
    font-size: 60px;
    padding: 0;
    margin: 0;
}


nav{
    display: flex;
    height: auto;
    align-items: center;
}

nav a{
    padding-left: 20px;
    padding-right: 20px;
    height: fit-content;
    color: white;
    font-weight: 600;
    font-size: 12px;
}

ul, ol, a{
    list-style-type: none;
    text-decoration: none;
}

#text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#text h2{
    font-size: 30px;
    color: var(--colorBase);
    padding-left: 5vw;
}

#main{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
}
.footer{
    padding-top: 70vh; 
    text-align: center;
}
.footer p{
    color: var(--colorBase);
    font-size: 30px;
}
.footer h2{
    color: var(--colorBase);
}

.footer-2{
    background-color: #ffffff36;
    width: 80vw;
    height: 50vh;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: -5px -5px  rgba(255, 255, 255, 0.514);
    color: var(--colorBase);
}

.footer-2 h2{
    font-size: 30px;
    position: relative;
    padding-bottom: 15px;
    top: 25%;
}

#foot{
    text-align: center;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#foot h2, p{
    color: white;
}


#foot img{
    width: 30px;
    width: 30px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: white;
}

#form{
    padding-top: 20vh;
    text-align: center;
}

#form li{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#btn-form{
    font-size: 20px;
    padding-right: 10px;
    font-weight: 600;
    color: white;
    font-family: var(--fontBase);
    background: var(--colorBase);
    border-radius: 3px;
    width: 40vw;
    height: 9vh;
}

#form p{
    padding: 5vh 0;
}

.box{
    border-radius: 5px;
    width: 50%;
    height: 5vh;
}

.text-form{
    font-size: 16px;
    font-weight: 600;
    font-family: var(--fontBase);
    color: var(--colorBase);
}


@media screen and (max-width : 600px){
    #main{
        flex-direction: column;
    }
    nav{
        display: none;
    }
    #profile-img{
        width: 100vw;
    }
    #profile-img img{
        padding-top: 0;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    #pre{
        display: none;
    }
}




